@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #1a2d31;
}

nav {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    border-bottom: #97c1cf solid 1px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-color: #1d343a;
}

button {
    width: auto;
    height: auto;
    background-color: #1d343a;
    border: #97c1cf solid 1px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
}

.navbar {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: #97c1cf;
}

.navbar:hover {
    transition-duration: 0.2s;
    padding: 2px;
    color: #fff;
}

.a {
    margin: 10px;
    color: #fff;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

.jogo {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.bloco-como-jogar {
    align-items: center; 
    justify-content: flex-start;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.como-jogar {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border: #97c1cf solid 1px;
    border-radius: 30px;
    margin-top: 40px;
    justify-content: flex-start; 
    padding: 20px;
}

.texto {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.movimento {
    display: flex;
    flex-direction:row;
    margin-bottom: 30px;
}

.gif1 {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    margin-right: 20px;
}

.texto-movimento {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ataque {
    display: flex;
    flex-direction:row;
    margin-bottom: 30px;
}

.gif2 {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    margin-right: 20px;
}

.texto-ataque {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.someaudio {
    display: flex;
    flex-direction:row;
}

.atalhos {
    margin: 0px 100px 30px 40px;
    border-radius: 25px;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    color: #97c1cf;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
}

h2 {
    margin: 0;
    color: #97c1cf;
    font-family: 'Nunito', sans-serif;
}

p {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    margin: 0px 0px 4px 0px;
}

footer {
    border-top: #97c1cf solid 1px;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #111516;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    position: relative;
}

.logoecopy {
    position: absolute;
    left: 10px;
    width: 420px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    justify-content: center;
    margin-left: 30px;
}

.logo {
    width: 220px;
    height: auto;
}

.direitos {
    width: 420px;
    height: 22px;
    font-family: 'Nunito', sans-serif;
    color: rgb(145, 145, 145);
    margin: 0px;
}

.centro {
    width: auto;
    height: auto;
    margin: auto;
}

.voltar {
    width: 120px;
    height: 22px;
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
    margin: 0px;
    text-decoration: none;
}